.uquest_highlight {
    background:transparent url('images/toolbar/dl_background_left.png') no-repeat 0 -1px;
    top:-2px;
}
.uquest_red {
    background:transparent url('images/toolbar/dl_background_right.png') no-repeat right -1px;
    height:18px;
}
.uquest_tip {
    background:transparent;
}
.tip_content {
    background:url('images/toolbar/dl_background.png');
}
.uquest:before {
    bottom: -7px;
}
.uquest_pointer_red {
    bottom: -6px;
}
.dl_image {
    border-width: 0px;
}
