.utorrent-uquest-active {
    position:relative;
}
.utorrent-uquest-active .utorrent-uquest-span {
    position:absolute;
    width:26px;
    height:26px;
    top:-20px;
    left:40%;
    background: url("images/toolbar/quest_icon.png") no-repeat 2px 2px;
    z-index:99999;
}